
html, body {
    height: 550px;
    width: 275px;
}

p {
    font-size: 15px;
}

.line {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    position: relative;
    word-wrap: break-word;
}

img {
    position: absolute;
    top: 50%;
    right: 10%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}